body{background-color:#222222;}

a{text-decoration:none; color:#D4D4D4;}
#header00{ width:1280px; margin:0 auto;}
#header0{margin-left:170px; padding:top; display:flex;justify-content:center; height:62px; width:960px;}
#header1{height:62px; width:62px;}
#header2{display:flex; justify-content:space-evenly; margin-right:auto; color:#D4D4D4; width:260px; height:17px; list-style:none;}
#icon1{height:12px; width:17px; padding-top:15px;}
#icon2{height:17px; width:17px; padding-left:24px; padding-top:15px;}
#tur{display:flex; justify-content: center; background-color:#FFCB06; color:#000000; border-radius:25px 25px; height:50px; width:240px; margin-top:54px;}
#a_tur{padding-top:10px; color:#000000;}

.head1{ padding-right:142px;}

#header5{height:16px; width:19px; padding-left:35px;}
#header6{display:flex; justify-content:center;height:438px; width:438px;} 
#header4{display:flex; justify-content:center;width:834px; height:438px; margin:auto; padding-bottom:121px;}

h1{color:#FFFFFF; text-align:left; background-color:#222222; font-family:Courier New; height:100px; width:238px;}
h2{font-family:Courier New; font-size:24px;}
p{color:#D4D4D4; font-family:Verdana; font-size:14px; text-align:left; width:254px;}

.main1{background-color:#131313; height:321px; width:100%; margin:0 auto; }
.main11{height:157px; width:952px; margin:0 auto; padding-top:85px; display:flex;}

.ap1{margin-right:85px;}
.p1{width:170px;}

.main2{ background-color:#FFFFFF; height:808px; width:100%;}
.main22{width:962px; margin:0 auto; padding-top:80px; display:flex;}

.m1{margin-right:79px; width:455px;}
.m2{width:443px; padding-top:0px;}

.p2{color:#000000; width:435px;}

.ul1{color:#FFCB06; font-family:Verdana; font-size:14px;}
strong{color:black; font-weight:normal;}

#h21{padding-bottom:22px;}
#p02{padding-bottom:22px;}

.main1{ background-color:#131313; height:321px; width:100%; margin:0 auto; }
.main12{height:210px; width:960px; margin:0 auto; padding-top:60px; display:flex;}

.ap12{margin-right:79px;}
.p12{width:180px;}

.logo{padding-bottom:70px;}
.col{color:#555555;}




